.contenedor{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.divPaginacion{
  display: flex;
  flex: 1;
  justify-content: center;
  background-color: var(--color-naranja);
  color: var(--color-lila);
  border-radius: 0.5rem;
  gap: 0.3rem;
  padding: 0.5rem;
  height: fit-content;
  max-height: 1rem;
}

.divPaginacion>p{
  font-family: 'Courier';
  font-weight: bold;
}

.gridCard{
  margin: 1rem 0;
      display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            200px,
            1fr
        )
    );
    gap: 1rem;
    
}

.cajaCard {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    background-color: white;
  }

  .cajaPropiedades{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
  }

  
  .cajaPrecio{
    display: flex;
    justify-content: center;
    background-color: var(--color-lila);
    flex: 1;
    color: var(--color-naranja);
    border-radius: 15px;
    align-items: center;
    padding: 0.3rem;

  }

  .cajaPrecio:hover{
    background-color: var(--color-naranja);
  }

  .cajaPrecio:hover p{
    color: var(--color-lila);
  }

  .cajaPrecio:hover svg{
    color: var(--color-lila);
  }

  .cajaPrecio>p{
    color: white;
    font-weight: bold;
    padding-right: 0.5rem;
    font-family: 'Courier';
    font-size: 14pt;
  }


  .cajaPrecio svg{
    width: 1.5rem;
    height: 100%;
  }

  .nombre{
    text-transform: uppercase;
    color: var(--color-lila);
    padding-bottom: 1rem;
  }

  .divPaginacion{
    height: 2rem;
  }

.pagActual{
  background-color: var(--color-fucsia);
  padding: 0 5px;
  border-radius: 5px;
  color: white;
}