.header{
    background-color: var(--color-lila);
    display: flex;
    flex-wrap: wrap;
    height: 7rem;
    flex: 1;
    position: fixed;
    width: 100%;
    top: 0;
}

.header>img{
    height: auto;
    object-fit: contain;
    max-width: 15rem;
}

.header svg{
    width: 2rem;
    height: 100%;
}

.header span {
    color: var(--color-lila);
    font-weight: bold;
    position: absolute;
    top: 30px;
    left: 14px;
    font-size: 8pt;
}

.contenedorLogo{
    flex: 1;
    display: flex;
    padding: 1rem 0;
    padding-left: 2rem;
}

.contenedorIconos{
    display: flex;
    color: var(--color-naranja);
    gap: 0.5rem;
    padding: 1rem 0;
    padding-right: 2rem;
    position: relative;
}

.listaCarrito{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: -15rem;
    top: 4rem;
    width: 20rem;
    background-color: var(--color-lila);
    padding: 1rem;
    gap: 0.5rem;
}

.listaCarrito>:nth-child(1)>li{
    color: var(--color-naranja);
    font-weight: bold;
    font-family: 'Courier';
}

.listaCarrito>ul{
    flex: 1 100%;
    display: flex;
    border-top: 1px solid var(--color-naranja);
    border-bottom: 1px solid var(--color-naranja);
    font-size: 10pt;
}

.listaCarrito>ul>li{
    flex: 3rem 0;
    display: flex;
    justify-content: end;
    padding: 0.3rem;
    color: white;
}

.listaCarrito>ul>li>label{
    color: var(--color-naranja);
}

.listaCarrito>ul>:nth-child(1){
    flex: 1;
}

.listaCarrito>ul>li>svg{
    width: 1rem;
}

.listaCarrito>p{
    text-align: end;
    font-weight: bold;
    font-family: 'Courier';
}

.contenedorEnvioSociales{
    display: flex;
    flex: 1 100%;
    background-color: black;
    color: white;
    justify-content: space-between;
    font-family: 'Courier';
    font-size: 10pt;
    height: 2rem;
    padding: 0 2rem;
    align-items: center;
}

.contenedorEnvioSociales p{
    font-family: 'Courier';
}

.contenedorEnvioSociales>div{
    display: flex;
}

.contenedorEnvioSociales>div>svg{
    width: 1.3rem;
    margin-left: 0.5rem;
}
