.listaPedidos{
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    flex: 1 100%;
    border-top: 2px solid var(--color-naranja);
    border-bottom: 2px solid var(--color-naranja);
    font-size: 10pt;
    margin-bottom: 0.5rem;
    font-size: 14pt;
    gap: 0.5rem;
}

.listaPedidos:hover{
    background-color: var(--color-naranja);
}

.listaPedidos>:nth-child(1){
    color: var(--color-lila);
    font-weight: bold;
}

.listaPedidos>:nth-child(3){
    font-weight: bold;
}