h2.titulo{
    font-size: 22pt;
}


.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    flex: 1 100%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.contenedor> a{
    display: flex;
    justify-content: center;
}