.cajaJuegos, .cajaUsuarios, .cajaPedidos {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    gap: 0.5rem;
}

.cajaJuegos{
    background-color: var(--color-lila-claro);
    margin-top: 1rem;
}

.cajaUsuarios{
    background-color: var(--color-turquesa);
}

.cajaPedidos{
    background-color: var(--color-estado-light-amarillo);
}