:root{
    --color-lila: #350E43;
    --color-lila-claro:#e0cfec;
    --color-naranja: #F2A516;
    --color-turquesa:#CFECE0;
    --color-fucsia: #9822c4;
    --color-estado-pagado:#35CF43;
    --color-estado-preparando:#F2A516;
    --color-estado-enviado:#16BDF2;
    --color-estado-entregado:#C33266;
    --color-estado-light-amarillo:#FFEFD1;
}

#root{
  display: flex;
  flex-direction: column;
  flex: 1 100%;
}


*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Roboto';
  border-collapse: collapse;
  
}

@font-face {
  font-family: 'Roboto';
  src: url('./styles/fonts/RobotoCondensed-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Roboto';
  src: url('./styles/fonts/RobotoCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Courier';
  src: url('./styles/fonts/CourierPrime-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Courier';
  src: url('./styles/fonts/CourierPrime-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: 'Courier';
  src: url('./styles/fonts/CourierPrime-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Courier';
  src: url('./styles/fonts/CourierPrime-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}


body{
  display: flex;
  flex-direction: column;
  background: 
      linear-gradient(135deg,#0000 20.5%,#ffffff 0 29.5%,#0000 0) 0 7.5px,
      linear-gradient( 45deg,#0000 8%,#ffffff 0 17%, #0000 0 58%) 15px 0,
      linear-gradient(135deg,#0000 8%,#ffffff 0 17%, #0000 0 58%,#ffffff 0 67%,#0000 0),        
      linear-gradient( 45deg,#0000 8%,#ffffff 0 17%, #0000 0 58%,#ffffff 0 67%,#0000 0 83%,#ffffff 0 92%,#0000 0),
      rgba(225, 209, 237, 0.35);
  background-size: 30px 30px;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
}

main{
  display: flex;
  flex-direction: column;
  flex: 1 100%;
  padding: 0 2rem;
  padding-top: 7.5rem;
  justify-content: center;
}

button{
  padding: 0.3rem 1.5rem;
  border: none;
  background-color: var(--color-lila);
  border: none;
  border:white solid 1px;
  color: white;
  font-size: 18pt;
  font-weight: 600;
  border-radius: 15px;
  text-transform: uppercase;
}

button:hover{
  background-color: var(--color-naranja);
  color: var(--color-lila);
}


.links{
  color: #350E43;
}

.links:hover{
  color: #F2A516;
}


.errorSpan{
  color:tomato;
  font-size: 10pt;
  font-family: 'Courier';
  font-style: oblique;
  padding-left: 0.5rem;
  font-weight: bold;
}

.fuenteCourier{
  font-family: 'Courier';
  font-weight: normal;
}

.enlace{
  color: var(--color-lila);
}

.enlace:hover{
  color: var(--color-naranja);
}

@media screen and (min-width: 700px) {
  main {
    flex-direction: row;
  }
}